.file {
  cursor: default;
  position: relative;
  width: 33%;
}

.folder {
  cursor: default;
  position: relative;
  width: 33%;
}

.hovered {
  background-color: lightseagreen;
  color: white;
}

.selected {
  background-color: seagreen;
  color: white;
}

.noselect {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  user-select: none;
}

.menu {
  position: absolute;
  top: 0;
  background: white;
  width: 100px;
  border: 1px solid red;
}
