.file {
  cursor: default;
}

.folder {
  cursor: default;
}

/* COMMON */
.hovered {
  background-color: lightseagreen;
  color: white;
}

.selected {
  background-color: seagreen;
  color: white;
}

.noselect {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  user-select: none;
}