.container {}

.nodes-container {
  margin-top: 8px;
  border: 1px solid;
  padding: 8px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: auto;
}

.list-mode {
  min-height: 35px;
  flex-direction: column;
}

.icons-mode {
  min-height: 70px;
  flex-direction: row;
}

.no-history {
  margin: 0;
}

.menu {
  padding: 8px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul li {
  cursor: default;
}

.menu ul li .selected {
  background: red;
}
